@font-face {
    font-family: 'HeliosCond';
    src: url('../../../../../ГА/СДК/web/ob/ob/opo_1_plan_files/HeliosCond.ttf');
    src: url('HeliosCond.eot?#iefix') format('embedded-opentype'),
        url('../../../../../ГА/СДК/web/ob/ob/opo_1_plan_files/HeliosCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeliosCond';
    src: url('../../../../../ГА/СДК/web/ob/ob/opo_1_plan_files/HeliosCond-Bold.ttf');
    src: url('HeliosCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../../../ГА/СДК/web/ob/ob/opo_1_plan_files/HeliosCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,
body{ font-family: 'HeliosCond'!important;font-weight: normal;}
.bold{font-weight: bold;}
